.button:active,
.button:focus,
.file-cta:active,
.file-cta:focus,
.file-name:active,
.file-name:focus,
.input:active,
.input:focus,
.is-active.button,
.is-active.file-cta,
.is-active.file-name,
.is-active.input,
.is-active.pagination-ellipsis,
.is-active.pagination-link,
.is-active.pagination-next,
.is-active.pagination-previous,
.is-active.textarea,
.is-focused.button,
.is-focused.file-cta,
.is-focused.file-name,
.is-focused.input,
.is-focused.pagination-ellipsis,
.is-focused.pagination-link,
.is-focused.pagination-next,
.is-focused.pagination-previous,
.is-focused.textarea,
.pagination-ellipsis:active,
.pagination-ellipsis:focus,
.pagination-link:active,
.pagination-link:focus,
.pagination-next:active,
.pagination-next:focus,
.pagination-previous:active,
.pagination-previous:focus,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus {
  outline: 2px solid blue;
  outline-offset: 3px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.visually-hidden:focus {
  position: static;
  height: auto;
  width: auto;
  clip: auto;
}

.button.is-info {
  background-color: #163a52;
  outline-color: #163a52;
}

.button.visually-hidden {
  padding: inherit;
}

.navbar .button:focus {
  outline-color: white;
}

.outlined-link:focus {
  outline: 2px solid currentColor;
  outline-offset: 1px;
}

.tabs .outlined-link:focus {
  outline-color: black;
}

.iframe {
  border: 0;
}

.tabs.main-menu {
  overflow: visible;
}
