.visually-hidden {
  position: absolute;
  color: white;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}
.visually-hidden:focus {
  height: auto;
  width: auto;
  clip: auto;
}
.skip-video {
  color: black;
}
.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
  width: 100%;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}
.navbar-burger {
  background: transparent;
  border: 0;
  color: white;
}
a {
  color: #2c6dd6;
}
a.tag {
  display: inline-flex;
}
a.tag:hover {
  text-decoration: none;
}
.icon {
  display: flex;
}
.button.is-info,
.hero.is-info {
  background-color: #176bee;
}
.hero.is-info .subtitle {
  color: white;
}
.hero.is-info .tabs.is-boxed li.is-active a,
.hero.is-info .tabs.is-boxed li.is-active a:hover,
.hero.is-info .tabs.is-toggle li.is-active a,
.hero.is-info .tabs.is-toggle li.is-active a:hover {
  color: #176bee;
}
.tag:not(body).is-primary {
  background-color: #208476;
}
a.tag:not(body).is-primary:hover,
a.tag:not(body).is-danger:hover {
  background-color: #f5f5f5;
}
.tag:not(body).is-danger {
  background-color: #d41d42;
}
.help.is-danger {
  color: #d41d42;
}
.tag:not(body).is-success {
  background-color: #01802e;
}
.help.is-success {
  color: #01802e;
}
.input.is-success,
.textarea.is-success {
  border-color: #01802e;
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}
